# Performance

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import sqlalchemy
import psycopg2
import sql_functions
from sql_functions import get_engine

In [2]:
a=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-09-27-2023-07.csv')
b=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-16-27-2023-07.csv')
c=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-19-27-2023-07.csv')
d=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-22-27-2023-07.csv')
e=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-27-27-2023-07.csv')
f=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-31-27-2023-07.csv')
g=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-34-27-2023-07.csv')
h=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-40-27-2023-07.csv')
i=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-44-27-2023-07.csv')
j=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-49-27-2023-07.csv')
k=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-53-27-2023-07.csv')
l=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-24-57-27-2023-07.csv')
m=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-00-27-2023-07.csv')
n=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-03-27-2023-07.csv')
o=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-06-27-2023-07.csv')
p=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-13-27-2023-07.csv')
q=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-20-27-2023-07.csv')
r=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-24-27-2023-07.csv')
s=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-27-27-2023-07.csv')
t=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-31-27-2023-07.csv')
u=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-34-27-2023-07.csv')
v=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-37-27-2023-07.csv')
w=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-40-27-2023-07.csv')
x=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-43-27-2023-07.csv')
y=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-46-27-2023-07.csv')
z=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-50-27-2023-07.csv')
aa=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-53-27-2023-07.csv')
ab=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-25-57-27-2023-07.csv')
ac=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-26-00-27-2023-07.csv')
ad=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-26-03-27-2023-07.csv')
ae=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-26-05-27-2023-07.csv')
af=pd.read_csv('/Users/kk/Desktop/etf_addendum/performance/screener-output-table-16-26-10-27-2023-07.csv')

In [3]:
# combine dfs in a list
list_of_dfs = (a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af)

# Concatenate df along the rows
df_performance = pd.concat(list_of_dfs)

# Reset the index after concatenation 
df_performance.reset_index(drop=True, inplace=True)

# Display first few rows of the merged DataFrame
df_performance = pd.DataFrame(df_performance)
#df_esg.columns = df_esg.columns.str.replace(' ', '')

df_performance.head()

,Ticker,Fund Name,1 MO,3 MO,YTD,1 YR,3 YR,5 YR,10 YR,As Of Date
0,SPY,SPDR S&P 500 ETF Trust,5.13%,12.57%,20.00%,17.03%,14.09%,11.79%,12.48%,07/25/2023
1,IVV,iShares Core S&P 500 ETF,5.14%,12.61%,20.04%,17.08%,14.15%,11.82%,12.54%,07/25/2023
2,VOO,Vanguard 500 Index Fund,5.15%,12.62%,20.09%,17.09%,14.15%,11.82%,12.55%,07/25/2023
3,VTI,Vanguard Total Stock Market ETF,5.56%,12.94%,19.61%,16.46%,13.42%,10.98%,11.98%,07/25/2023
4,QQQ,Invesco QQQ Trust,4.48%,22.36%,42.66%,27.05%,14.71%,16.50%,18.66%,07/25/2023

In [4]:
# snake_case

df_performance.columns = df_performance.columns.str.lower().str.replace(" ", "_")

df_performance.head()

,ticker,fund_name,1_mo,3_mo,ytd,1_yr,3_yr,5_yr,10_yr,as_of_date
0,SPY,SPDR S&P 500 ETF Trust,5.13%,12.57%,20.00%,17.03%,14.09%,11.79%,12.48%,07/25/2023
1,IVV,iShares Core S&P 500 ETF,5.14%,12.61%,20.04%,17.08%,14.15%,11.82%,12.54%,07/25/2023
2,VOO,Vanguard 500 Index Fund,5.15%,12.62%,20.09%,17.09%,14.15%,11.82%,12.55%,07/25/2023
3,VTI,Vanguard Total Stock Market ETF,5.56%,12.94%,19.61%,16.46%,13.42%,10.98%,11.98%,07/25/2023
4,QQQ,Invesco QQQ Trust,4.48%,22.36%,42.66%,27.05%,14.71%,16.50%,18.66%,07/25/2023

In [5]:
# replace all -- with NaN
df_performance = df_performance.replace("--", "NaN")

In [6]:
df_performance['1_mo'] = df_performance['1_mo'].str.replace('%', '')
df_performance['3_mo'] = df_performance['3_mo'].str.replace('%', '')
df_performance['ytd'] = df_performance['ytd'].str.replace('%', '')
df_performance['1_yr'] = df_performance['1_yr'].str.replace('%', '')
df_performance['3_yr'] = df_performance['3_yr'].str.replace('%', '')
df_performance['5_yr'] = df_performance['5_yr'].str.replace('%', '')
df_performance['10_yr'] = df_performance['10_yr'].str.replace('%', '')


df_performance.head()

,ticker,fund_name,1_mo,3_mo,ytd,1_yr,3_yr,5_yr,10_yr,as_of_date
0,SPY,SPDR S&P 500 ETF Trust,5.13,12.57,20.00,17.03,14.09,11.79,12.48,07/25/2023
1,IVV,iShares Core S&P 500 ETF,5.14,12.61,20.04,17.08,14.15,11.82,12.54,07/25/2023
2,VOO,Vanguard 500 Index Fund,5.15,12.62,20.09,17.09,14.15,11.82,12.55,07/25/2023
3,VTI,Vanguard Total Stock Market ETF,5.56,12.94,19.61,16.46,13.42,10.98,11.98,07/25/2023
4,QQQ,Invesco QQQ Trust,4.48,22.36,42.66,27.05,14.71,16.50,18.66,07/25/2023

In [7]:
from datetime import datetime

df_performance['1_mo'] = df_performance['1_mo'].astype('float')
df_performance['3_mo'] = df_performance['3_mo'].astype('float')
df_performance['ytd'] = df_performance['ytd'].astype('float')
df_performance['1_yr'] = df_performance['1_yr'].astype('float')
df_performance['3_yr'] = df_performance['3_yr'].astype('float')
df_performance['5_yr'] = df_performance['5_yr'].astype('float')
df_performance['10_yr'] = df_performance['10_yr'].astype('float')
df_performance["as_of_date"] = pd.to_datetime(df_performance["as_of_date"])

df_performance.dtypes

ticker                object
fund_name             object
1_mo                 float64
3_mo                 float64
ytd                  float64
1_yr                 float64
3_yr                 float64
5_yr                 float64
10_yr                float64
as_of_date    datetime64[ns]
dtype: object

In [8]:
df_performance = df_performance.rename(columns={'1_mo' : 'one_mo',	'3_mo':'three_mo',	'1_yr':'one_yr', 	'3_yr':'three_yr',	'5_yr':'five_yr',	'10_yr':'ten_yr'})
df_performance.head()

,ticker,fund_name,one_mo,three_mo,ytd,one_yr,three_yr,five_yr,ten_yr,as_of_date
0,SPY,SPDR S&P 500 ETF Trust,5.13,12.57,20.00,17.03,14.09,11.79,12.48,2023-07-25
1,IVV,iShares Core S&P 500 ETF,5.14,12.61,20.04,17.08,14.15,11.82,12.54,2023-07-25
2,VOO,Vanguard 500 Index Fund,5.15,12.62,20.09,17.09,14.15,11.82,12.55,2023-07-25
3,VTI,Vanguard Total Stock Market ETF,5.56,12.94,19.61,16.46,13.42,10.98,11.98,2023-07-25
4,QQQ,Invesco QQQ Trust,4.48,22.36,42.66,27.05,14.71,16.50,18.66,2023-07-25

In [9]:
df_performance_etf = df_performance

-----------

In [10]:
df_performance.shape

(3168, 10)

In [11]:
table_name = 'df_performance_etf'

In [12]:
import psycopg2
# Import get_dataframe function from the sql module
from sql_functions import get_dataframe

In [13]:
# create a variable called engine using the get_engine function
engine = get_engine()

In [14]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_performance_etf.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema='public', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The df_performance_etf table was imported successfully.